

  <%- unless @lat_lng %>
    <p>Geolocation not set, displaying all results</p>
    <script>
      function getGeoLocation() {
        navigator.geolocation.getCurrentPosition(setGeoCookie);
      }

      function setGeoCookie(position) {
        var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
        document.cookie = "lat_lng=" + escape(cookie_val);
        location.reload();
      }
      getGeoLocation();
    </script>
    <% else %>
      <p>Displaying buildings closest to you within 20 miles</p>
  <%- end %>


<%= render partial: "building", collection: @buildings, locals: {lat_lng: @lat_lng}%>

<%= @lat_lng %>
<%= Time.now.strftime("%k%M zone %z") %>